* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.Container-card {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.Container-card .Card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.Container-card .Card .Content-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.Container-card .Card:hover .Content-card {
    opacity: 1;
    transform: translateY(-20px);
}

.Container-card .Card .Content-card .imgBx{
   position: relative;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   overflow: hidden;
   border: 10px solid rgba(0, 0, 0, 0.25);
}

.Container-card .Card .Content-card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Container-card .Card .Content-card .ContentBx h3{
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.Container-card .Card .Content-card .ContentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.Container-card .Card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
}

.Container-card .Card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.Container-card .Card:hover .sci li
{
    transform: translateY(0px);
    opacity: 1;
}

.Container-card .Card .sci li a {
    color: var(--text-color);
    font-size: 24px;
}


 

